<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.chenkj.mapper.FUploadRecordMapper">  
    <insert id="saveUploadRecord">
        insert into f_upload_record(id,fsection,fitem,fname,fext,fpath,creator,createtime) values(#{id},#{fsection},#{fitem},#{fname},#{fext},#{fpath},#{creator},#{createtime})
    </insert>
</mapper> 