<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.chenkj.mapper.UserMapper">  
    <insert id="insertUser">
        insert into tuser(userid,password) values(#{userid},#{password})
    </insert>
    
    <!--resultType resultMap不能同时使用  -->
    <select id="getUsers" resultType="com.chenkj.model.User">
    	select * from tuser
    </select>
    
    <select id="checkUser" resultType="com.chenkj.model.User">
    	select * from tuser where userid = #{userid} and password = #{password}
    </select>
</mapper> 