<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.chenkj.mapper.UserMapper">  
    <insert id="insertUser">
        insert into tuser(userid,password,name,sex,tel,email) values(#{userid},#{password},#{name},#{sex},#{tel},#{email})
    </insert>
    
    <!--resultType resultMap不能同时使用  -->
    <select id="getUsers" resultType="com.chenkj.model.User">
    	select * from tuser
    	<where>
         <if test="userid!=null">
            and userid=#{userid}
         </if>
         <if test="name!=null">
            and name=#{name}
         </if>
         <if test="sex >-1">
            and sex=#{sex}
         </if>

      </where>
    </select>
    
    <select id="checkUser" resultType="com.chenkj.model.User">
    	select * from tuser where userid = #{userid} 
    </select>
    
    <delete id="delUsers">
		delete from tuser where userid in
		<foreach collection="array" item="userid" index="no" open="("
			separator="," close=")">
			#{userid}
		</foreach>
	</delete>
</mapper> 