.page-content-wrap {
    background: #fff;
    padding: 20px;
    margin: 0;
}
.label-pl{
	padding-left:0px;
}
.label-small{
	width:30px;
}
.label-medium{
	width:60px;
}
.label-big{
	width:80px;
}

.hidden{
	display:none;
}
.add-user{
	margin-top: 15px;
    margin-left: 65px;
}
.error-msg{
	margin-left:60px;
    color: #FF0000;
}

.import-upload{
    margin-left: 70px;
    margin-top: 40px;
}